body {
	font-family: Clear Sans,Helvetica Neue,Arial,sans-serif;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
/*    background: url("1.webp");
    background: url("2.webp");
    background: url("3.webp");
    background: url("4.webp");
    background: url("5.webp");
    background: url("6.webp");
    background: url("7.webp");*/
    background: url('11.jpg');
    background: url('12.jpg');
    background: url('13.jpg');
    background: url('14.jpg');
    background: url('15.jpg');
    background: url('16.jpg');
    background: url('17.jpg');
    background: url('20.jpg');
    background: url('21.jpg');
    background: url('22.jpg');
    background: url('23.jpg');
    background: url('24.jpg');
    background: url('25.jpg');
    background: url('26.jpg');
}

body>div {
    border: 10px solid white;
    /*background: rgba(0,0,0,0.7);*/
    padding: 8px;
}

.words .row div {
    background: white;
}

header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    position: relative;
}

header h1 {
    margin: 4px 0;
    font-size: 36px;
    text-transform: uppercase;
    color: #8b8b8b;
}

#keyboard {
	margin: 30px 0px 0;
    user-select: none;	
}

#keyboard .row {
	display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

button {
	font-family: inherit;
    font-weight: 700;
    border: 0;
    padding: 0;
    margin: 0 6px 0 0;
    height: 58px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    background-color: #d3d6da;
    color: #1a1a1b;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0,0,0,.3);
}

.images {
    display: flex;
    margin: 80px auto;
    justify-content: space-between;
}

.images div {
    width: 15%;
    /*border: 8px solid #d4d4d4;*/
    border: 8px solid #ffffff;
    background: white;
}

.images img {
    width: 100%;
}

.words .row {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.words .row div {
    border: 2px solid #d3d6da;
    width: 12%;
    height: 30px;
    height: 56px;
    /*flex-grow: 1;*/
    margin-right: 3px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.words .row div:last-child {
    /*margin-right: unset;*/
}