body {
	font-family: Clear Sans,Helvetica Neue,Arial,sans-serif;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    background: url('img/background.jpg');
    background-size: cover;
}

.clean-layout {
    background: white;
    border-radius: 20px;
}

body .cont {
    border: 10px solid white;
    background: rgb(228 225 152 / 13%);
    padding: 20px;
    box-shadow: 0px 0px 12px 2px #d3d6da;
    margin-top: 30px;
    border-radius: 20px;
    border: 2px solid #d3d6da;
}

.words .row div {
    background: white;
}

header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    position: relative;
}

header h1 {
    margin: 4px 0;
    font-size: 36px;
    text-transform: uppercase;
    color: #8b8b8b;
}

#keyboard {
	margin: 30px 0px 0;
    user-select: none;	
}

#keyboard .row {
	display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

button, .letters span {
	font-family: inherit;
    font-weight: 700;
    border: 0;
    padding: 0;
    margin: 0 6px 0 0;
    height: 44px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    background-color: #d3d6da;
    color: #1a1a1b;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0,0,0,.3);
    box-shadow: 0px 0px 2px 0px;
}

.images {
    display: flex;
    margin: 80px auto;
    justify-content: space-between;
}

.images div {
    /*width: 15%;*/
    /*border: 8px solid #d4d4d4;*/
    /*border: 8px solid #ffffff;*/
    /*background: white;*/
    /*box-shadow: 0px 0px 3px 1px #d3d6da;*/
    border-radius: 10px;
    border: 4px solid #d3d6da;
    padding: 20px;
}

.images img {
    width: 100%;
    border-radius: 10px;
}

.words .row {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.words .row div {
    border: 2px solid #d3d6da;
    width: 12%;
    height: 30px;
    height: 56px;
    /*flex-grow: 1;*/
    margin-right: 3px;
    border-radius: 10px;
    font-size: 28px;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.words .row div:hover {
    cursor:  pointer;
}

.words .row div:last-child {
    /*margin-right: unset;*/
}

.message p {
    font-size: 24px;
    color: red;
}

p.finish {
    font-size: 30px;
    color: green;
    margin: 100px auto;
}